<div class="containner">
    <h1 style="text-align: center;"> ประวัติส่วนตัวของฉัน </h1>
    <img src="/myPic.jpg" alt="Girl in a jacket" width="250px" height="250px" class="centerObject" />
    <div class="myDetail">
        <p> ชื่อขนามสกุล:  ทิฆัมพร เทพสุต (ต้นตาล) </p>
        <p> วันเกิด: 21/พ.ย./2544 </p>
        <p> อายุ: 20 ปี </p>
        <p> รหัสนิสิต: 6330203521 </p>
    </div>

    <table>
    <tr>
        <th>ระยะเวลา (ปีพ.ศ)</th>
        <th>ระดับการศึกษา</th>
        <th>สถานศึกษา</th>
        <th>เกรดเฉลี่ย</th>
    </tr>
    <tr>
        <td>2548 - 2551</td>
        <td>อนุบาลศึกษา</td>
        <td>โรงเรียนปิยวัฒนศาสตร์</td>
        <td>3.60</td>
    </tr>
    <tr>
        <td>2551 - 2557</td>
        <td>ประถมศึกษา</td>
        <td>โรงเรียนทิพพากรวิทยาการ</td>
        <td>3.70</td>
    </tr>
    <tr>
        <td>2557 - 2563</td>
        <td>มัธยมศึกษา</td>
        <td>โรงเรียนสวนกุหลาบวิทยาลัย รังสิต</td>
        <td>3.95</td>
    </tr>
    <tr>
        <td>2563 - ปัจจุบัน </td>
        <td>มหาวิทยาลัย</td>
        <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
        <td>-</td>
    </tr>
    </table>
</div>


<style>
    body {
        background-color: #003882 ;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }
    .containner {
        background-color: white ;
        border-radius: 30px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }
    .centerObject {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .myDetail {
        text-align: center;
    }

    table {
  border-collapse: collapse;
}

    th {
        background-color: #0051ff;
        color: white;
        border: 1px solid;
        width: 1500px;
        text-align: center;
    }

    td {
        border: 1px solid;
        width: 1500px;
        text-align: center;
    }

    tbody tr:nth-child(odd){
        background-color: #b1c9fc ;
        color: rgb(4, 4, 4);
    }

    tbody tr:nth-child(even){
        background-color: #d7e3fc;
        color: rgb(3, 3, 3);
    }

</style>
